@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;600&display=swap");

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #535862;
}

.about-container {
  background-image: url("./images/student.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  padding: 0;
  margin: 0 auto;
  position: relative;
  z-index:1;
}

.Goal {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 1076px;
  padding: 20px;
  margin-top: 390px;
}

.Goal h2 {
  font-family: "Signika", sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 2%;
  color: #FFFFFF;
}

.don-button {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.don-button button {
  width: 200px;
  height: 60px;
  border-radius: 8px;
  font-size: 1rem;
}

#btn-1 {
  background-color: #004AAD;
  color: white;
  cursor: pointer;
  border: 2px solid #004AAD;
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}

#btn-2 {
  background-color: #FFFFFF;
  color: #004AAD;
  cursor: pointer;
  border: 2px solid #004AAD;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  font-family: "Open Sans";
}

#btn-1:hover{
  background-color:#609be9;
  border: none;
}

#btn-2:hover{
  background-color: #004AAD;
  color: white;
}

.we-are {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 120px 112px;
  background-color: #F5F5F5;
  gap: 72px;
}

.we-are-description {
  max-width: 520px;
  text-align: justify;
}

.we-are-description h1 {
  font-family: "Signika", sans-serif;
  font-weight: 600;
  font-size: 60px;
  line-height: 72px;
  margin-bottom: 20px;
}

.we-are-description p {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 20px;
  text-align: left;
}

.we-are-description button {
  width: 200px;
  height: 60px;
}

.story-button {
  width: 200px;
  height: 60px;
  font-size: 18px;
  border-radius: 10px;
  background-color: #004AAD;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-family: "Open Sans";
  line-height: 28px;
}

.story-button:hover{
  background-color: grey;
  border: none;
}

.illustration img {
  max-width: 100%;
  height: auto;
}

.we-do {
  padding: 120px 112px;
  background-color: #F3F7FA;
  text-align: center;
}

.what-we-do {
  max-width: 1216px;
  margin: 0 auto;
}

.what-we-do h1 {
  font-weight: 600;
  font-size: 60px;
  line-height: 72px;
  margin-bottom: 20px;
  font-family: "Signika", sans-serif;
}

.highlight {
  color: #004AAD;
  font-family: "Signika", sans-serif;
}

.what-we-do p {
  font-size: 18px;
  line-height: 28px;
  text-align: left;
}

.we-do-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  text-align: center;
  gap: 32px;
  justify-content: center;
  box-sizing: border-box;
  margin-top: 60px;
}

.Info {
  width: 280px;
  padding: 32px;
  background-color: #FFFFFF;
  border-radius: 16px;
  text-align: center;
}

.Info h2 {
  font-family: "Signika", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 10px;
}

.Info p {
  font-size: 16px;
  line-height: 24px;
}

.Info:hover{
  transform: translateY(-10px);
}

.Collect-logo {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #E9EAEB;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 10px;
}

.Collect-logo img {
  width: 32px;
  height: 32px;
}

.Values {
  height: auto;
  min-height: 1372px;
  width: 100%;
  padding-top: 56px;
  padding-bottom: 56px;
  background-color: #FFFFFF;
}

.Values p{
  text-align: left;
}

.Edukit-plan {
  width: 100%;
  max-width: 1440px;
  min-height: 322px;
  height: auto;
  border-bottom: 1px;
  padding:56px 30px;
  background-color: #FFFFFF;
  border-color: #E9EAEB;
  border-bottom: 1px solid #E9EAEB;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
}

.img-logo {
  background-color: #F5F5F5;
  height: 64px;
  width: 64px;
  border-radius: 160px;
  justify-content: center;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.Plan-logo {
  height: 120px;
  width: 280px;
  font-family: "Signika", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 2%;
  color: #252B37;
  display: flex;
  flex-direction: column;
  /* background-color: #535862; */
  margin-left: 50px;
}

.Plan-logo h2 {
  font-family: "Signika", sans-serif;
  font-size: 36px;
  padding-top: 20px;
}

.The-plan {
    width:auto;
    max-width: 800px;
    height: auto;
    font-family: "open sans";
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #535862;
    /* background-color: #004AAD; */
    text-align: left;
    margin-left:-160px;
}

@media (max-width: 1200px){
  .about-container{
    min-height: auto;
  }

  .Values{
    padding: 40px 20px;
  }

  .we-are{
    flex-direction: column;
    padding: 60px 20px;
  }

  .we-do-images{
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  .we-are{
    flex-direction: column;
    padding: 60px 20px;
  }


  .we-do {
    padding: 40px 20px;
  }

  .Edukit-plan{
    display: grid;
    grid-template-rows: 1fr ;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 40px;
    padding: 40px 20px;
  }
  .The-plan{
    margin-left: 0;
  }

  .Edukit-plan p{
    text-align: left;
  }

  .Plan-logo{
    margin-left: -120px;
    justify-items: left;
    padding-left: 0;
  }
}

@media(max-width:768px){
  .Goal h2 {
    font-size: 36px;
    line-height: 48px;
  }

  .we-do-images{
    grid-template-columns: 1fr;
    justify-items:center;
  }

  .we-are-description h1{
    font-size: 48px;
    line-height: 60px;
  }

  .what-we-do h1 {
    font-size: 48px;
    line-height: 60px;
  }

  .Plan-logo{
    font-size: 28px;
    line-height: 36px;
  }

  .Edukit-plan{
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .The-plan{
    margin-left: 0;
  }
}


.container-core{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading-core{
  width: 1440px;
  text-transform: uppercase;
  gap: 32px;
}
.heading-core h2{
font-size: 48px;
text-align: center;
font-weight: 600;
font-family: Signika;
letter-spacing: 2%;
line-height: 52.8px;
margin-bottom: 60px;
color: #181D27;
}
span{
  color: #004AAD;
font-family: Signika;
font-weight: 600;
}

.box-core{
  width: 640px;
  margin-bottom: 50px;
  
}
.core{
  margin-bottom: 24px;
  color: #004AAD;
  /* background-color: #FDFDFD; */
  box-shadow: 0px 2px 4px -2px #0A0D120F,
  0px 4px 8px -2px #0A0D121A;
  border-radius: 7px;
}
.outline{
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
  padding: 0 15px;
  text-transform: capitalize;

}
.outline h4, .sign{
  font-family: 'Signika';
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  cursor: default;
  
}

.content{
  text-align: left;
  padding: 0 15px 15px 15px;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Open Sans';
  color: #535862;
}


.container-impact{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 72px;
  align-items: center;
  padding: 0 100px;
  font-size: 16px;
  background: linear-gradient(180deg, #F3F7FA 0%, #FFFFFF 100%);
  
}
.impact{
  width: 520px;
  gap: 24px;
  margin: 200px 0;
}
.heading-impact {
  text-transform: uppercase;
  width: 100%;
}
.heading-impact h2{
font-size: 48px;
font-weight: 600;
font-family: Signika;
letter-spacing: 2%;
line-height: 52.8px;
color: #181D27;
}
.box-exp{
  width: 520px;
  padding: 20px 0;
  line-height: 28px;
  font-family: "Open Sans";
  font-weight: 400;
  margin-bottom: 18px;
  color: #535862;
}
.box-exp p{
  text-align: left;
  font-size: 18px;
}
.btns{
  width: 474px;
  display: flex;
  gap: 24px;
  
}
.btns button{
  padding: 10px 20px;
  text-transform: capitalize;
  border-radius: 8px;
  font-weight: 600;
  width: 235px;
  font-size: 18px;
  cursor: pointer;
}

.btn-left{
  color: #ffffff;
  background-color: #004AAD;
  border: none;
  box-shadow: 0px 1px 2px 0px #0A0D12;
}
.btn-left:hover{
  background-color: white;
  color: #004AAD;
  border: #004AAD;
  box-shadow: 0px 1px 2px 0px #0A0D12;

}
.btn-left:focus{
  background-color: #005CD6;
  color: white;
  border-color: #005CD6;
  box-shadow: 0px 1px 2px 0px #0A0D120D;
}
.btn-left:disabled,
.btn-right:disabled{
  color: #ffffff;
  background-color: #A4A7AE;
  border-color: #A4A7AE;
  box-shadow: 0px 1px 2px 0px #0A0D12;

}

.btn-right{
  background-color: #ffffff;
  color: #004AAD;
  border: 1px solid #004AAD;
}
.btn-right:hover{
  background-color: #004AAD;
  color: white;
  box-shadow: 0px 1px 2px 0px #0A0D12;
}
.btn-right:focus{
  background-color: #E5F1FF;
  color: #005CD6;
  border-color: #005CD6;
  box-shadow: 0px 1px 2px 0px #0A0D120D;

}

.image-impact{
  width: 624px;
}
.image-impact img{
  width: 100%;
}

@media (max-width:1200px) {
  .container-core{
    width: 100%;
    margin: 0 0 50px 0;
  }
  .heading-core{
    width: 70%;
    margin: 0 auto;
  }
  .heading-core h2,
  .heading-impact h2{
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 40px;
  }
  .box-core{
    width: 70%;
    margin: 0 auto;
  }
  .container-impact{
    width: 100%;
    flex-direction: column;
    gap: 36px;
    padding: 0;
  }
  .impact{
    width: 70%;
    margin: 50px 0 50px 0;
  }
  .heading-impact{
    width: 100%;
    margin: 0 auto;
  }
  .box-exp{
    width: 100%;
    text-align: left;
    padding: 0 0 10px 0;
  }
  .btns{
    width: 100%;
    gap: 20px;
    margin: 0 auto;
  }
  .btns button{
    width: 45%;
    font-size: 20px;
  }
  .image-impact{
    width: 70%;
    margin: 0 0 50px 0;
  }
}


@media (max-width:768px) {
  .container-core{
    width: 100%;
    margin: 0 0 50px 0;
  }
  .heading-core{
    width: 90%;
    margin: 0 auto;
  }
  .heading-core h2,
  .heading-impact h2{
    font-size: 36px;
    line-height: 39.6px;
  }
  .box-core{
    width: 90%;
    margin: 0 auto;
  }
  .container-impact{
    width: 100%;
    flex-direction: column;
    gap: 36px;
    padding: 0;
  }
  .impact{
    width: 90%;
    margin: 50px 0 50px 0;
  }
  .heading-impact{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .box-exp{
    width: 100%;
    text-align: left;
    padding: 0 0 10px 0;
  }
  .btns{
    width: 100%;
    gap: 16px;
    margin: 0 auto;
  }
  .btns button{
    width: 45%;
    font-size: 16px;
  }
  .image-impact{
    width: 90%;
    margin: 0 0 50px 0;
  }
}


@media (max-width:575px) {
  .container-core{
    width: 100%;
    margin: 0 0 50px 0;
  }
  .heading-core{
    width: 90%;
    margin: 0 auto;
  }
  .heading-core h2,
  .heading-impact h2{
    font-size: 36px;
    line-height: 39.6px;
  }
  .box-core{
    width: 90%;
    margin: 0 auto;
  }
  .container-impact{
    width: 100%;
    flex-direction: column;
    gap: 36px;
    padding: 0;
  }
  .impact{
    width: 90%;
    margin: 50px 0 50px 0;
  }
  .heading-impact{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .box-exp{
    width: 100%;
    text-align: left;
    padding: 0 0 10px 0;
  }
  .btns{
    flex-direction: column;
    width: 100%;
    gap: 16px;
    margin: 0 auto;
  }
  .btns button{
    width: 80%;
    margin: auto;
    font-size: 16px;
    
  }
  .image-impact{
    width: 90%;
    margin: 0 0 50px 0;
  }
}


@media (max-width:375px) {
  .container-core{
    width: 100%;
    margin: 0 0 50px 0;
  }
  .heading-core{
    width: 343px;
  }
  .heading-core h2,
  .heading-impact h2{
    font-size: 32px;
    line-height: 35.2px;
    margin-bottom: 36px;
  }
  .box-core{
    width: 343px;
  }

  .container-impact{
    flex-direction: column;
    gap: 32px;
  }

  .impact{
    width: 343px;
    margin: 50px 0 50px 0;
  }
  .box-exp{
    width: 343px;
    text-align: left;
    padding: 0 0 10px 0;
  }
  .btns{
    width: 343px;
    gap: 16px;
  }
  .btns button{
    width: 160px;
    font-size: 14px;
  }
  .image-impact{
    width: 343px;
    margin: 0 0 50px 0;
  }
}
